<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="ShareFile.Api.Client" version="3.3.1597" targetFramework="net451" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net45" />
</packages>